{
  "printWidth": 80,             // Максимальная ширина строки
  "tabWidth": 2,                // Количество пробелов на один отступ
  "useTabs": false,             // Использование табов вместо пробелов
  "semi": true,                 // Завершать строки точкой с запятой
  "singleQuote": true,          // Использование одинарных кавычек вместо двойных
  "trailingComma": "es5",       // Запятая в последнем элементе объекта или массива
  "bracketSpacing": true,       // Пробелы между скобками объекта
  "jsxBracketSameLine": false,  // Закрывающая угловая скобка JSX на новой строке
  "arrowParens": "always",      // Окружение стрелочных функций скобками
  "endOfLine": "crlf"             // Конец строки (lf - для Unix/MacOS, crlf - для Windows)
}